<% content_for :custom_tag do %>index<% end %>
<div class="index">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <div class="text-center">
                        <h2>Track Price For Your Choice </h2>
                        <br>
                        <form class="form-search" method="GET" action="/products">
                            <input name="name" type="text" placeholder="Product Name"/>
                            <button type="submit" class="btn btn-primary">search</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

